* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

$colore: red;
$raggio: 50px;


@mixin bounce ($punto-iniziale, $distanza){
    animation: bounce 2s ease infinite;

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY($punto-iniziale);
        }

        40% {
            transform: translateY($distanza);
        }

        60% {
            transform: translateY(calc($distanza/2));
        }
    }

}



h1 {
    text-align: center;
    margin: 2rem auto 4rem;
}

.palla {
    margin: 10rem auto;
    width: $raggio;
    height: $raggio;
    border-radius: 50%;
    background-color: $colore;
    @include bounce (0, -30px);
}